.contact-main {
  background-color: #313d53;
  color: #fff;
  text-align: center;
  padding-bottom: 1em;
}

.contact-brands {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
}

.contact-main > h3 {
  font-size: 1.8em;
  padding-bottom: 0.6em;
  padding-top: 1em;
}

.contact-main > p {
  margin-bottom: 1em;
}
