.contact-main {
  background-color: #313d53;
  color: #fff;
  width: 100%;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 1em;
  display: flex;
  margin: 0 auto;
  padding: 2em 1em;
}

.contact-brands {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 0.3em;
  background-color: darkslategray;
}

.contact-brands > div > img {
  max-width: 19vw;
}

.contact-main > h3 {
  font-size: 1.8em;
  padding-bottom: 0.6em;
  padding-top: 1em;
}

.contact-main > p {
  margin-bottom: 1em;
}

.contact-details:first-child {
  order: 2;
}

.contact-openings {
  margin: 2em 0;
}

@media only screen and (max-width: 600px) {
  .contact-main {
    display: block;
  }
  .contact-details:first-child {
    margin: 0 0 2em;
  }
}

.contact-brands {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 0.3em;
  background-color: darkslategray;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  left: 0em;
}
