.feature-main {
  height: 75vh;
  width: 100%;
  background-color: #ccc;
  padding-top: 0.7em;
}

.feature-individual {
  height: 20vh;
  background-color: #313d53;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  margin-top: 1em;
  padding-top: 1em;
  color: white;
  font-family: sans-serif;
}
